.btn-new-form{
    margin-bottom: -6px;
    margin-top: -22px;
}

.image-logo-login {
    background-image: url('/images/logoepraga.jpeg');
    background-repeat: no-repeat;
    background-position: center;
}
